1 / Разобраться с html страницей

1.1 сделать поле
1.2 сделать фон
1.3 сделать стили

2 / Разобраться с логикой

2.1 Сделать инпут для размера поля
2.2 Сделать инпут Размер для количества мин (думаю пока сделать опцию сложности от легкого до высокого)
2.3 Сгенерировать поле (вставить сетку размером Размер с рандомными минами)
2.4 Сделать проверку при нажатии на поле (если есть в радиусе нажатой кнопки мина, то вывести счетчик мин, иначе вывести пустое поле)

3 / Залить на нетлифи

